/* 
Credit where credit is due

The whole code comes from Phaser Webpack Template developed by photonstorm
available at: https://github.com/photonstorm/phaser3-project-template
*/

{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": [
          ">0.25%",
          "not ie 11",
          "not op_mini all"
        ]
      },
      "modules": false
    }]
  ],
}